*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    overflow-x: hidden;
}
.nav{
    background: rgba(0, 0, 0, 0);
}

canvas{
    display: block;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}
header nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    background-color:rgb(0, 0, 0, 0.0);

}
.home{
    font-family: 'Dancing Script', cursive;
    height: 100vh;
    flex-direction: column;
    width: 100vw;
    display: flex;
    place-items: center;
    justify-content: center;
    color: white;
}


.logo{
    color:white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform:uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
}
header ul li a:hover,
header ul li a.active{
    color:rgb(122, 21, 139);
    z-index: 999;
}
.section{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    border:1px solid red;
}
